@model Artist

@{
    ViewData["Title"] = "Details";
}

<h1>Artists</h1>

<div>
    <div>
        @Model.Name
    </div>

    <img src="@Model.LogoUrl" alt="Artist's Logo"/>

    <a asp-controller="Artists" asp-action="UpdateArtist" asp-route-id="@Model.Id" class="btn btn-primary">Details...</a>
</div>
